/* @import './dashboard.css'; */

.logo-bg {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

html, body {
    height: 100%; /* Задаём высоту для html и body */
    margin: 0; /* Убираем отступы */
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
}

.content {
    flex: 1; /* Контент растягивается, чтобы занять оставшееся пространство */
}

footer {
    margin-top: auto; /* Фиксируем футер внизу */
}



.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    margin: 1rem 0;
}

.page-item {
    margin: 0 3px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #9ca2a8;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #67a3fd;
    border-color: #9ca2a8;
}

.page-link {
    color: #67a3fd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 5px 14px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    border-color: #9ca2a8;
}

.page-link:hover {
    background-color: #e9ecef;
    color: #0a58ca;
    border-color: #9ca2a8;
}